/* -------  General Styles ------- */
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 800;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

.item img{
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.ideas-group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  padding-left: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a{
  padding-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  display: flex;
  /* align-content: center; */
  padding-bottom: 15px;
  align-items: center;
  /* margin-bottom: 20px; */
}

form select, form date,
form input {
  display: flex;;
  margin-bottom: 20px;
  width: 180px;
  align-items: center;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div{
  display: flex;
  justify-content: space-between;
}
/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width:480px) {

  .logo {
    font-size: 62px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }

  header nav {
    margin-top: 8px;
  }

  form {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 0px;
  }

  form div{
    display: block;
    margin-right: 30px;
  }

  form button {
    padding: 0px;
    margin: 0px;
    height: 60px;
  }

  .group{
    flex-direction: row;
    align-items: center;
  }

  .item{
    /* justify-content: center; */
  }

  .ideas-group{
    flex-direction: row;
    flex-wrap: wrap;
  }
}